* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-wrap {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10rem;
}

.home-main {
  width: 100vw;
  min-height: 100vh;
  margin-top: 5em;
}

.global-nav-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  padding: 1em 2em;
  padding-right: 1em;
  height: 5em;
  z-index: 100000;
}

.global-nav-name {
  user-select: none;
  font-weight: bold;
  text-decoration: none;
  color: currentColor;
  
  font-size: 1.75em;
}

.global-nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.global-nav-items a {
  color: currentColor;
  text-decoration: none;
}

.btn {
  text-decoration: none;
  background: red;
  color: white !important;
  padding: 0.85em 1.25em;
  min-width: 6.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: background 0.2s;
}

.btn:hover {
  background: rgb(172, 3, 3);
}

.btn:hover:focus {
  background: darkred;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-heading {
  font-size: 3em;
  text-align: center;
}

.btn-lg {
  font-size: 1.21em !important;
  padding: 0.7em !important;
}

.rice-collected {
  font-size: 5em;
  font-weight: bold;
  margin-top: 2em;
}

.question-page-wrap {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.question-card-container {
  padding-top: 5em;
  /* width: 100vw; */
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-card {
  min-height: 10em;
  width: 30vw;
  min-width: 300px;
}

.question-choices {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.question-choice {
  border: none;
  height: 5em;
  font-size: 1rem;
  outline: 1px solid lightgrey;
  text-align: start;
  padding: 0 2em;
  cursor: pointer;
  border-radius: .25rem;
  transition: background 0.2s;
  background: white;
}

.question-choice:hover:not(:disabled) {
  background: lightgrey;
}

.question-choice:focus:not(:disabled) {
  background: rgb(185, 184, 184);
}

.question-choice.correct {
  background: green;
  color: white;
}

.question-choice.incorrect {
  background: red;
  color: white;
}

.next-btn-wrap {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.next-btn {
  border: none;
  cursor: pointer;
  padding: 1em 2em;
  border-radius: .25rem;
  background: green;
  color: white;
  font-size: 1.01em;
  text-align: center;
  transition: 0.2s;
}

.next-btn:hover {
  background: darkgreen;
}

.next-btn:hover:focus {
  background: rgb(0, 34, 0);
}

.rice-sidebar {
  text-align: center;
}

.rice-sidebar-collected {
  display: block;
  font-size: 3em;
  font-weight: bold;
}

.footer {
  width: 100vw;
  background: #0d0d0d;
  color: white;
  padding: 2em;
}

.footer-left-links {
  margin-bottom: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-links a {
  display: block;
  margin-bottom: 1em;
  color: currentColor;
}

.footer-logo {
  color: red;
}

.footer-copy {
  color: grey;
}

.rice-sidebar-counter {
  margin-bottom: 2em;
}

.qp-cup-modal-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 1000000;
  pointer-events: none;
  transition: 0.3s;
  visibility: hidden;
}

.qp-cup-modal-wrap.active {
  pointer-events: all;
  background: rgba(0, 0, 0, 0.4);
  visibility: visible;
}

.qp-cup-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-10em);
  opacity: 0;
  width: 30vw;
  min-width: 40em;
  height: 50vh;
  background: white;
  transition: 0.5s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  border-radius: .75rem;
}

.qp-cup-modal-wrap.active .qp-cup-modal {
  transform: translate(-50%, -50%) translateY(0em);
  opacity: 1;
}

.rice-modal-collected {
  display: block;
  font-size: 5em;
  font-weight: bold;
}

.rice-sidebar-dish-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 3.7em;
}

.rice-sidebar-bones {
  display: grid;
  place-items: center;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}

.rice-sidebar-dish {
  margin-top: -3.7em;
  z-index: 1;
}

.rice-sidebar-bone {
  z-index: 2;
  margin-bottom: -1em;
  width: 40px;
}